{% extends 'base.html' %}

{% block content %}

{% if error%}
{{ error }}
<br>
{%endif%}
<h1>CREATE</h1>
<form method="POST" action="{% url 'create'%} " enctype="multipart/form-data">
    {% csrf_token %}
    <label>Title</label>
    <br>
    <input type="text" name="title" />
    <br>
    <label>Body</label>
    <br>
    <input type="textbox" name="body">
    <br>
    <label>URL</label>
    <br>
    <input type="text" name="url">
    <br>
    <label>Icon:</label>
    <br>
    <input type="file" name="icon" />
    <br>
    <label>Image</label>
    <br>
    <input type="file" name="image" />
    <br>
    <br>
    <button type="submit" class="btn btn-primary">Add Product</button>
</form>
{% endblock %}